<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<!-- create by zzy -->

<mapper namespace="com.cqut.dao.joinInfoDao.JoinInfoDao">
	<!-- select -->
	<select id="getByID" resultType="com.cqut.entity.joinInfo.JoinInfo">
		<![CDATA[   
			select * from joininfo 
		]]>
		<where>
			joininfoid = #{ID}
		</where>
	</select>
	
	<select id="getByCondition" resultType="com.cqut.entity.joinInfo.JoinInfo">
		<![CDATA[   
			select * from joininfo 
		]]>
		<where>
			<if test="condition != null">
		 		${condition}
		 	</if>
		</where>
	</select>
	
	<select id="getCountByCondition" resultType="int">
		select count(distinct joininfoid) from joininfo
		<where>
        	<if test="condition != null">
        		${condition}
        	</if>	
        </where>
	</select>
	
	<select id="findByID" resultType="map">
		select 
		<foreach collection="properties" item="item" index="index" separator=",">
          	${item}
        </foreach>
        from joininfo 
        <where>
        	joininfoid = #{ID}
        </where>
	</select>	
	
	<select id="findByCondition" resultType="map">
		select 
		<foreach collection="properties" item="item" index="index" separator=",">
          	${item}
        </foreach>
        from joininfo 
        <where>
        	<if test="condition != null">
        		${condition}
        	</if>
        </where>
	</select>		
	
	<!-- update -->
	<update id="updateByID" >
		<![CDATA[  
			update joininfo set 
				"joininfoid" = #{entity.joinInfoID},
				"personid" = #{entity.personID},
				"jointime" = #{entity.joinTime},
				"entryid" = #{entity.entryID}
      	]]>
      	<where>
      		joininfoid = #{ID}
      	</where>  		
	</update>
	
	<update id="updateByCondition">
		<![CDATA[  
			update joininfo set 
				"joininfoid" = #{entity.joinInfoID},
				"personid" = #{entity.personID},
				"jointime" = #{entity.joinTime},
				"entryid" = #{entity.entryID}
      	]]>
      	<where>
      		<if test="condition != null">
      			${condition}
      		</if>
      	</where>  		
	</update>
	
	<update id="updatePropByID">
		<![CDATA[  
			update joininfo set
		]]>
		<foreach collection="prop" item="item" index="index" separator=",">
          	${item.key} = #{item.value}
        </foreach>
        <where>
        	joininfoid = #{ID}
        </where>
	</update>
	
	<update id="updatePropByCondition">
		<![CDATA[  
			update joininfo set
		]]>
		<foreach collection="prop" item="item" index="index" separator=",">
          	${item.key} = #{item.value}
        </foreach>
        <where>
        	<if test="condition != null">
        		${condition}
        	</if>
        </where>
	</update>	
	
	<!-- delete -->
	<delete id="deleteByID" parameterType="string">
		<![CDATA[   
			delete from joininfo   
		]]>
		<where>
			joininfoid = #{ID}
		</where>
	</delete>	

	<delete id="deleteByCondition" parameterType="string">
		<![CDATA[   
			delete from joininfo  
		]]>
		<where>
			<if test="condition != null">
				${condition}
			</if>	
		</where>	
	</delete>	
	
	<delete id="deleteJoinInfos" parameterType="string">
		<![CDATA[   
			delete from activity    
		]]>
		<where>
			 joininfoid in
			 <foreach collection="IDs" item="item" index="index" separator="," open="(" close=")">
          		#{item}
        	 </foreach>
		</where>	
	</delete>
	
	<!-- save -->
	<insert id="save" parameterType="com.cqut.entity.joinInfo.JoinInfo">  
     	<![CDATA[   
        	 insert into joininfo (joininfoid, personid, jointime, entryid)
        	 values (#{joinInfoID}, #{personID}, #{joinTime}, #{entryID})	
    	 ]]>   
    </insert>
    
    <insert id="saveJoinInfos"> 
	 	 <![CDATA[  
	    	insert into joininfo (joininfoid, personid, jointime, entryid) 
	    	VALUES 
	    ]]>  
	    <foreach collection="entities" item="item" index="index" separator=",">   
	         (#{item.joinInfoID}, #{item.personID}, #{item.joinTime}, #{item.entryID})
	    </foreach> 
	</insert> 
	
</mapper>