@CHARSET "UTF-8";

body {
	background-color: #d0e4fe;
	margin:0;
	padding:0;
}

#header {
	width:100%;
	height:8rem;
	border-bottom: 1px solid;
}

.header_logo{
	position:absolute;
	top:2.5rem;
	left:2rem;
}

.logo{
	width:5rem;
	height:5rem;
}

.search{
	width:25rem;
	height:2rem;
	position: absolute;
	left:8rem;
	top:2rem;
}

.searchButton{
	width:5rem;
	height:2rem;
	position: absolute;
	left:35rem;
	top:2.2rem;
}

.register{
	position: absolute;
	width:2rem;
	left:42rem;
	top:2rem;
}

.login{
	position: absolute;
	width:2rem;
	left:45rem;
	top:2rem;
}

.help{
	position: absolute;
	color:#999999;
	width:2rem;
	left:48rem;
	top:2rem;
}

#center{
	width:100%;
	height:25rem;
	border-bottom: 1px solid black;
}

.pictureRoll{
	width: 70rem;
	height:22rem;
	border: 1px solid black;
    margin-top:2rem;
    margin-left:2rem;
}

.label{
	width:8rem;
	height:3rem;
	background-color: #650965;
	border: 1px solid black;
	float: left;
	margin-top:2rem;
	text-align: center;
	line-height: 3rem;
	cursor: pointer;
}

.today{
	border-right: none;
	margin-left:2rem;
}

.yesterday{
	border-left: 1px solid #651bc9;
	border-right: none;
}

.longAgo{
	border-left: 1px solid #651bc9;
}

.checked{
	background-color: white;
}

.content_title{
	margin-top:7rem;
	margin-left:2rem;
	border-bottom: 1px solid #6543c2;	
}

.fixtitle{
	font-size: 1.4rem;
	color:#6543c2;
}

.changetitle{
	font-size: 1.4rem;
	color:#6543c2;
	margin-left:1rem;
}

#rightFix{
	width: 23rem;
	height:30rem;
	border: 1px solid black;
	position: fixed;
	right: 2rem;
	top: 8rem;
	text-align: center;
	line-height: 35rem;
}

.issue{
	width: 10rem;
	height: 10rem;
}
